@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject IHttpContextAccessor HttpContextAccessor


@{
    var session = HttpContextAccessor.HttpContext.Session;
    string jsoncart = session.GetString (FPTBook.Controllers.ProductController.CARTKEY);
    if (jsoncart != null) {
        var cart = JsonConvert.DeserializeObject<List<CartItem>> (jsoncart);
        <div class="nav-item"><a asp-route="cart"> <img src="~/Uploads/1177505.png" width="40" height="50" alt="">(@cart.Count)</a></div>
         
    }
}