<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FPTBOOK</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FPTBOOK.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    @RenderSection("Stylesheets", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">FPTBOOK</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="Index">Order Detail</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="Index"></a>
      </li>
      @if (User.IsInRole("Admin"))  
             { 
              <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="Index">Category</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Product</a>
              </li>
             }
             @if (User.Identity.IsAuthenticated) 
              { 
              <li class="nav-item">
                 @await Html.PartialAsync("_CartPartial")
            </li>
              }
      <partial name="_LoginPartial" />
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="textbox" placeholder="Search" aria-label="Search" name="SearchString">
      <button class="btn btn-outline-success my-2 my-sm-0 navbar-dark bg-dark" type="submit">Search</button>
    </form>
  </div>
</nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

<footer class="bg-dark text-center text-white">
<br>  
    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-6 mb-md-0">
          <h5 class="text-uppercase">Contact</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">0913573060</a>
            </li>
            <li>
              <a href="#!" class="text-white">0352367638</a>
            </li>
            <li>
              <a href="#!" class="text-white">0767950212</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Email</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Trungttgcc200091@fpt.edu.vn</a>
            </li>
            <li>
              <a href="#!" class="text-white">Chuongnndgcc200121@fpt.edu.vn</a>
            </li>
            <li>
              <a href="#!" class="text-white">Hungtpgcc2000226@fpt.edu.vn</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">About</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">The FPTBook is the shop that everyone can search the book they need. All the book, the FPT Book will have all!</a>
            </li>
          </ul>
        </div>
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    2023 :
    <a class="text-white"> GREENWICH UNIVERSITY</a>
  </div>
 
</footer>
</html>
