@model Order
<h3>Add Order</h3>
<form asp-controller="Order" asp-action="Create" method="post" enctype="multipart/form-data">
	Name:
	<input type="text" asp-for="Cus_Name" />
	<span class="text-danger" asp-validation-for="Cus_Name"></span>
	<br />
	DeliveryLocal:
	<input type="text" asp-for="DeliveryLocal" />
	<span class="text-danger" asp-validation-for="DeliveryLocal"></span>
	<br />
	Cus_Phone:
	<input type="text" asp-for="Cus_Phone" />
	<span class="text-danger" asp-validation-for="Cus_Phone"></span>
	<br />
	OrderDate:
	<input type="date" asp-for="OrderDate" />
	<span class="text-danger" asp-validation-for="OrderDate"></span>
	<br />
	DeliveryDate:
	<input type="date" asp-for="DeliveryDate" />
	<span class="text-danger" asp-validation-for="DeliveryDate"></span>
	<br />

</form>
@section scripts {
	<partial name="_ValidationScriptsPartial" />
}
