@model FPTBook.Models.Order

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="order_id" />
            <div class="form-group">
                <label asp-for="country" class="control-label"></label>
                <input asp-for="country" class="form-control" />
                <span asp-validation-for="country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cus_first_name" class="control-label"></label>
                <input asp-for="cus_first_name" class="form-control" />
                <span asp-validation-for="cus_first_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cus_last_name" class="control-label"></label>
                <input asp-for="cus_last_name" class="form-control" />
                <span asp-validation-for="cus_last_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cus_address" class="control-label"></label>
                <input asp-for="cus_address" class="form-control" />
                <span asp-validation-for="cus_address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cus_city" class="control-label"></label>
                <input asp-for="cus_city" class="form-control" />
                <span asp-validation-for="cus_city" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cus_phone" class="control-label"></label>
                <input asp-for="cus_phone" class="form-control" />
                <span asp-validation-for="cus_phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cus_email" class="control-label"></label>
                <input asp-for="cus_email" class="form-control" />
                <span asp-validation-for="cus_email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
