@model FPTBook.Models.Product

<form asp-controller="Product" asp-action="Create" method="post" enctype="multipart/form-data">
	Name:
	<input type="text" asp-for="Name" />
	<span class="text-danger" asp-validation-for="Name"></span>
	<br />
	Description:
	<input type="text" asp-for="Description" />
	<span class="text-danger" asp-validation-for="Description"></span>
	<br />
	Price:
	<input type="text" asp-for="Price" />
	<span class="text-danger" asp-validation-for="Price"></span>
	<br />
	CategoyID:
    <label asp-for="Cat_Id" class="control-label"></label>
    <select asp-for="Cat_Id" class="form-control" asp-items="ViewBag.Cat_Id"></select>
	<br />
	Image:
	<input type="file" asp-for="FileImage"/>
    <br>
    <br>
	<input type="submit" value="Upload">
</form>
@section scripts {
	<partial name="_ValidationScriptsPartial" />
}

